<!-- Modal -->
<div class="modal fade" id="modalEstadisticas" tabindex="-1" role="dialog" aria-labelledby="modalEstadisticasLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="modalEstadisticasLabel">Estadísticas de Edad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <canvas id="graficaEdades" width="400" height="200"></canvas>
            </div>
        </div>
    </div>
</div>