{% extends 'base.html' %}
{% block title %}Lista de Reportes{% endblock %}
{% block content %}
<h1 class="my-4">Reportes</h1>

<table class="table table-bordered table-striped" style="border-radius: 10px; overflow: hidden;">
    <!-- Encabezado con bordes redondeados -->
    <thead class="bg-dark text-white" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <tr>
            <th scope="col">Título</th>
            <th scope="col">Fecha de Creación</th>
        </tr>
    </thead>
    <tbody>
        {% for reporte in reportes %}
        <tr>
            <td>{{ reporte.titulo }}</td>
            <td>{{ reporte.fecha_creacion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}